@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrio un error al procesar su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Pedido ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de desarrollo</h3>
<p>
    Cambiar a <strong>Desarrollo</strong> el entorno mostrara mas informacion detallada sobre el error ocurrido</p>
<p>
    <strong>El entorno de desarrollo no debe estar habilitado para aplicaciones implementadas</strong>
    puede dar como resultado que se muestre informacion confidencial de las excepciones a los usuarios finales
    para la depuracion local habilite el  <strong>desarrollo</strong> medio ambiente configurando el <strong>ASPNETCORE_ENVIRONMENT</strong> 
    variable de entorno a <strong>desarrollo</strong>
    y reiniciar la aplicacion.</p>
