@{
    ViewData["Title"] = "Torneos";
}

<body>
    @* Seccion cards torneos *@
    <div class="container">
        <div class="card1 col-lg-4 col-md-6" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&w=1000&q=80"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card2 col-lg-4 col-md-6" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&w=1000&q=80"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card3 col-lg-4 col-md-6" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&w=1000&q=80"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</body>