@{
  ViewData["Title"] = "APC";
}



<body>
  <div class="IHome">
    <h1 class="HTitulo text-center">APC Padel</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a></p>
  </div>

/s@* Carrousel noticias *@
@* <section id="noticia">

  <section class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fes%2Ffoto%2Fpartido-de-p%25C3%25A1del-mixto-en-una-pista-de-p%25C3%25A1del-en-el-interior-gm1181055302-331107040&psig=AOvVaw1D_KEC5yBjwge2mU6qz4y6&ust=1686948771416000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNDQqISUxv8CFQAAAAAdAAAAABAP)"></div>
      <div class="card__content">
        <h3 class="card__heading">Ranking</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url()"></div>
      <div class="card__content">
        <h3 class="card__heading">Jugadores</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url()"></div>
      <div class="card__content">
        <h3 class="card__heading">Clubes</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url()"></div>
      <div class="card__content">

        <h3 class="card__heading">Torneos</h3>
      </div>
    </a>
  <div>
</section> 

</section> *@



  
</body>
