@{
  ViewData["Title"] = "APC";
}



<body>
  <div class="IHome">
    <h1 class="HTitulo text-center">APC Padel</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a></p>
  </div>

</body>
