@{
  ViewData["Title"] = "APC";
}



<body class="ImgHome">

  <div class="IHome">
    <h1 class="HTitulo text-center">APC Padel</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a></p>
  </div>

     <div>

    <img src="https://www.onlytenis.com/blog/wp-content/uploads/2022/02/diferencias-entre-padel-y-tenis.jpg"
      class="ImgHome" style="position: fixed center;">
  </div> 

<hr>

@* Carrousel para fotos random *@
  
  <div class="body2">
    <div class="container">
      <div class="item">
        <div class="quote">
          <p>.<span></span></p>
        </div>
      </div>
      <div class="item">
        <div class="quote">
          <p><span></span></p>
        </div>
      </div>
      <div class="item">
        <div class="quote">
          <p><span></span></p>
        </div>
      </div>
      <div class="item">
        <div class="quote">
          <p><span></span></p>
        </div>
      </div>
      <div class="item">
        <div class="quote">
          <p><span></span></p>
        </div>
      </div>
      <div class="item">
        <div class="quote">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </div>

  <hr>

</body>
