@{
    ViewData["Title"]= "Jugadores";
}
<body class="body5">
    <!--modal-->
    <div class="modal fade" id="ModalJugador"tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar jugador</h5>
                    <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                <input type="hidden" id="JugadorId" value="0">
                <div>
                    <label class="control-label">jugador</label>
                    <input type="text" class="from-control" id="Nombre" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="GuardarJugador()" class="btn btn-primary" id="GuardarJugador">Guardar</button>
                </div>
            </div>
           </div>
        </div>
     </div>
<div>
    <h1 class="display-4 titulo">Jugadores</h1>
    <!--Button trigger modal-->
    <div class="bm-2">
        <button type="button" onclick="VaciarFormulario()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalJugador">
            Nuevo
        </button>   
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>jugador</th>
            </tr>    
        </thead>
        <tbody id="tbody-jugador"></tbody>
    </table>
</div>
</body>
@section Scripts{
    <script src="~/js/jugador-1.0.0.js"></script>
}