@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<main style="margin-top: 10%;">
    <h1 class="text-dark">@ViewData["Title"]</h1>
    <h3 class="text-dark">No cuentas con el permiso para acceder a esta pestaña.</h3>
</main>
