@page
@model LoginModel

@{
  ViewData["Title"] = "Iniciar Sesion";
}

<h1>@ViewData["Title"]</h1>

<body class="LogIn ">
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <div class="row" style="margin-left: 25%;">
              <div class="col-md-4">
                <button class="btn" id="IS" >Iniciar sesión</button>
              </div>
              <div class="col-md-2">
                <button class="btn" id="RE">Registrarse</button>
              </div>
            </div>


            @* Boton para dar vuelta la tarjeta *@
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"></input>
            <label for="reg-log"></label> 

            @* seccion iniciar sesion *@
            <div class="card-3d-wrap mx-auto" href="#IS">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Iniciar sesión</h4>
                      <div class="form-group">
                        <input type="email" name="logemail" class="form-style" placeholder="E-mail" id="logemail"
                          autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" name="logpass" class="form-style" placeholder="Contraseña" id="logpass"
                          autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>

                      <a href="#" class="btn mt-4" onclick="IniciarSesion()" role="button">Iniciar sesiónn</a>
                      <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Olvide mi contraseña</a></p>
                    </div>
                  </div>
                </div>

                @* seccion registrarse *@
                <div class="card-back" href="#RE">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Registrarse</h4>
                      <div class="form-group">
                        <input type="email" name="regemail" class="form-style" placeholder="E-mail" id="regemail"
                          autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                        <div class="form-group mt-2">
                          <input type="password" name="regpass" class="form-style" placeholder="Contraseña" id="regpass"
                            autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="regrtpass" class="form-style" placeholder="Repetir Contraseña"
                            id="regrtpass" autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <a id="btn-register" class="btn mt-4" role="button">Registrarse</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>



@section Scripts {
  <partial name="_ValidationScriptsPartial" />
  <script src="~/js/Login_Register.js"></script>
}
