@page


@{
  ViewData["Title"] = "Login";
}

<main>
  <div class="container">
    <div class="box"></div>
    <div class="container-forms">
      <div class="container-info">
        <div class="info-item">
          <div class="table">
            <div class="table-cell">
              <p>
                ¿Tienes una cuenta?
              </p>
              <div class="btn">
                Iniciar
              </div>
            </div>
          </div>
        </div>
        <div class="info-item">
          <div class="table">
            <div class="table-cell">
              <p>
                ¿No tienes una cuenta?
              </p>
              <div class="btn">
                Registrarse
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Iniciar Sesion-->
      <div id="loginF" class="container-form">
        <div class="form-item log-in">
          <div class="table">
            <div class="table-cell">
              <input name="email" placeholder="Email" type="text" />
              <input name="Password" placeholder="Password"  type="Password" />
              <input id="btn-login" type="submit">
              <h2>Iniciar</h2>
              </input>
            </div>
          </div>
        </div>
        <!--Registrarse-->
        <div id="registerF" class="form-item sign-up">
          <div class="table">
            <div class="table-cell">
              <input name="email" placeholder="Email" type="text" />
              <input name="fullName" placeholder="Nombre" type="text" />
              <input name="Password" placeholder="Contraseña" type="Password"/>
              <input name="Password" placeholder="Confirmar contraseña"  type="Password"/>
             <input id="btn-register" type="submit">
             <h2>Registrarse</h2>
             </input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


@section Scripts {
  <partial name="_ValidationScriptsPartial" />
  <script src="~/js/Login_Register.js"></script>
}
