@model TesisPadel.Models.Ranking;
@{
    ViewData["Title"] = "Ranking";
}
@* MODAL *@
<div class="modal fade" id="ModalRanking" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fondom">
                <h5 class="modal-title letra" id="exampleModalLabel">Agregar puntos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fondom">
                <input name="RankingId" type="hidden" id="RankingId" value="0" class="letra">
                <div class="control-label">
                    <p class="letra">Jugador</p>
                    @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control " })
                    <p class="letra">Club</p>
                    <input type="text" disabled class="form-control" id="ClubNombreJugador" />
                    <p class="letra">Categoría</p>
                    <input type="text" disabled class="form-control" id="CategoriaNombreJugador" />
                    <p class="letra">Puntos</p>
                    <select class="form-control" id="Puntos">
                        <option value="0">0</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button-8" role="button" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="GuardarRanking()" class="button-87" role="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="display-4 titulo bajar" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Posiciones</h1>

<div>
    <div class="mb-2">
        <div class="row">
            <div class="col-md-4">
                <a class="button-84" style="width: 70% !important;" role="button" href="/Ranking/Index">Ranking
                    Masculino</a>
            </div>
            <div class="col-md-6">
                <button type="button" onclick="VaciarFormulario()" class="button-87" role="button"
                    data-bs-toggle="modal" data-bs-target="#ModalRanking">
                    Actualizar
                </button>
            </div>
        </div>

    </div>

    <div id="div-categorias">

    </div>

    <input type="hidden" value="2" id="GeneroBuscar" />

    @section Scripts {
        <script src="~/js/Ranking-1.0.0.js"></script>
    }