@model TesisPadel.Models.Ranking;
@{
    ViewData["Title"] = "Ranking";
}
@* MODAL *@
<div class="modal fade" id="ModalRanking" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fondom">
                <h5 class="modal-title letra" id="exampleModalLabel">Agregar puntos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fondom">
                <input name="ClubId" type="hidden" id="ClubId" value="0" class="letra">
                <div class="control-label">
                    <p class="letra">Nombre</p>
                    @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control fondoi"})
                    <p class="letra">Club</p>
                    @Html.DropDownList("ClubId", null, htmlAttributes: new { @class = "form-control fondoi"})
                    <p class="letra">puntos</p>
                    <input type="number" class="form-control fondoi" id="Puntos" autocomplete="off">
                    <p class="letra">Categoria</p>
                    <select name="Categoria" id="Categoria" class="form-control fondoi">
                        <option value="0">Seleccione su Categoria</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button-8" role="button" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="GuardarRanking()" class="button-87" role="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="display-4 titulo bajar" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Posiciones</h1>
<div>
    <div class="mb-2">
        <button type="button" onclick="VaciarFormulario()" class="button-87" role="button" data-bs-toggle="modal"
            data-bs-target="#ModalRanking">
            Actualizar
        </button>
    </div>
    <table class="table table-dark table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" class="lt">Nombre</th>
                <th scope="col" class="lt">Club</th>
                <th scope="col" class="lt">Puntos</th>
                <th style="width: 30% !important;" scope="col" class="lt"></th>
            </tr>
        </thead>
        <tbody id="tbody-ranking">
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/js/Ranking-1.0.0.js"></script>
}