@model IEnumerable<TesisPadel.Models.Usuario>

@{
    ViewData["Title"]="Usuario";
}
<body class="body-5 ">
    <h1 class="display-4 titulo">Crear Jugador</h1>
    <p>Nombre</p>
    <input type="text" class="from-control" id="Nombre" autocomplete="off" onkeyup="this.value = this.value.toLowerCase()">

    <input type="text" class="from-control" id="Apellido" autocomplete="off" onkeyup="this.value = this.value.toLowerCase()">

    <input type="text" class="from-control" id="Localidad" autocomplete="off" onkeyup="this.value = this.value.toLowerCase()">

    <input type="text" class="from-control" id="Edad" autocomplete="off" onkeyup="this.value = this.value.toLowerCase()">

    <input type="text" class="from-control" id="Telefono" autocomplete="off" onkeyup="this.value = this.value.toLowerCase()">

    <input type="text" class="from-control" id="DNI" autocomplete="off" onkeyup="this.value = this.value.toLowerCase()">

    <input type="text" class="from-control" id="Categoria" autocomplete="off" onkeyup="this.value = this.value.toLowerCase()">

</body> 