@model TesisPadel.Models.Usuario;

@{
    ViewData["Title"] = "Usuario";
}

<div>
    <h1 class="display-4 titulo bajar">Complete sus datos</h1>

    <div style="margin-left: 5%; margin-top:8%">
        <div class="row">
            <div class="col-md-6 ">
                <p>Nombre y Apellido</p>
                <input type="text" style="width : 80%; height: 55%;" class=" from-control borde" id="Nombre"
                    autocomplete="off">
            </div>
            <div class="col-md-4 ">
                <p>Localidad</p>
                <input type="text" style="width : 133%; height: 55%;" class=" from-control borde" id="Localidad"
                    autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <p>Club</p>
                @Html.DropDownList("ClubId", null, htmlAttributes: new { @class = "form-control borde", @style="width : 80%; height: 55%;" })
            </div>
            <div class="col-md-4">
                <p>Telefono</p>
                <input type="number" style="width : 133%; height: 55%;" class=" from-control borde" id="Telefono"
                    autocomplete="off">
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <p>DNI</p>
                <input style="width : 80%; height: 55%;" type="number" class="from-control borde" id="DNI"
                    autocomplete="off">
            </div>
            <div class="col-md-4">
                <p>Genero</p>
                <select name="Genero" id="Genero" style="width : 133%; height: 55%;">
                    <option value="0">Seleccione su genero</option>
                    <option value="1"> Masculino</option>
                    <option value="2">Femenino</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-6">
            <p style="">Categoria</p>
            @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control borde", @style="width : 80%; height: 55%;" })
        </div>
    </div>

</div>
<button style="margin-left: 43%;" type="button" onclick="GuardarUsuario()" class="button-87"
    role="button">Guardar</button>
    <div>
    <table class="table table-dark table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" class="lt" style="width: 22% !important;">Nombre</th>
                <th scope="col" class="lt">Localidad</th>
                <th scope="col" class="lt">Telefono</th>
                <th scope="col" class="lt">DNI</th>
                <th scope="col" class="lt" style="width: 22% !important;">Club</th>
                <th scope="col" class="lt">Genero</th>
                <th scope="col" class="lt">Categoria</th>
                <th scope="col" class="lt" style="width: 22% !important;"></th>
            </tr>
        </thead>
        <tbody id="tbody-usuario"></tbody>
    </table>
</div>
@section Scripts{
    <script src="~/js/usuario-1.0.0.js"></script>
}