@model TesisPadel.Models.Usuario;
@{
    ViewData["Title"] = "Jugadores";
}
<div class="modal fade" id="ModalUsuario" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fondom">
                <h5 class="modal-title letra " id="exampleModalLabel">Jugadores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body fondom">
                    <input name="UsuarioId" type="hidden" id="UsuarioId" value="0" >
                    <div class="control-label">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="letra">Nombre</p>
                                <input name="Nombre" type="text" class="form-control fondoi" id="Nombre" autocomplete="off">
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                                <p class="letra">Localidad</p>
                                <input name="Localidad" type="text" class="form-control fondoi" id="Localidad"
                                autocomplete="off">
                                <span asp-validation-for="Localidad" class="text-danger"></span>
                                <p class="letra">Telefono</p>
                                <input name="Telefono" type="text" class="form-control fondoi" id="Telefono" autocomplete="off">
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <p class="letra">DNI</p>
                                <input name="DNI" type="text" class="form-control fondoi" id="DNI" autocomplete="off">
                                <span asp-validation-for="DNI" class="text-danger"></span>
                                <p>Club</p>
                                @Html.DropDownList("ClubId", null, htmlAttributes: new { @class = "form-control fondoi" })
                                <p>Genero</p>
                                <select name="Genero" id="Genero" style="width : 100%; height: 20%;">
                                    <option value="0">Seleccione su genero</option>
                                    <option value="1"> Masculino</option>
                                    <option value="2">Femenino</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <p>Categoria</p>
                                @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control fondoi" })
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button-8" role="button" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" onclick="GuardarUsuario()" class="button-87"
                            role="button">Guardar</button>
                    </div>
                </div>
        </div>
    </div>
</div>
<h1 class="display-4 titulo bajar" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Jugadores</h1>
<div class="mb-2">
    <button type="button" onclick="VaciarFormulario()" class="button-87" role="button" data-bs-toggle="modal"
        data-bs-target="#ModalUsuario">
        Nuevo
    </button>
</div>
<div>
    <table class="table table-dark table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" class="lt" style="width: 22% !important;">Nombre</th>
                <th scope="col" class="lt">Localidad</th>
                <th scope="col" class="lt">Telefono</th>
                <th scope="col" class="lt">DNI</th>
                <th scope="col" class="lt" style="width: 22% !important;">Club</th>
                <th scope="col" class="lt">Genero</th>
                <th scope="col" class="lt">Categoria</th>
                <th scope="col" class="lt" style="width: 22% !important;"></th>
            </tr>
        </thead>
        <tbody id="tbody-usuario"></tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/usuarioA-1.0.0.js"></script>
}